html { 
  background: url("/mainbg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title {
  text-align: center;
  border-color: black;
  border-style: solid;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(163, 156, 156);
  border-radius: 30px;
}

#div_container {
  border-color: black;
  border-style: solid;
  background-color: blue;
  border-radius: 30px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

#list_button {
  position: absolute;
  top: 55%;
  left: 8%;
  height: 50px;
  transform: skewY(-30deg);
  border-style: solid;
  border-radius: 20px;
  border-color: green;
  border-width: 3px;
}

#add_button {
  position: absolute;
  top: 60%;
  right: 25%;
  width: 200px;
  height: 50px;
  border-style: solid;
  border-radius: 20px;
  border-color: green;
  border-width: 3px;
}

#visit_button {
  position: absolute;
  top: 60%;
  left: 32%;
  width: 200px;
  height: 50px;
  border-style: solid;
  border-radius: 20px;
  border-color: green;
  border-width: 3px;
}

/* .btn {
  color: #fff;
  background: #0079c1;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border: 0;
  outline: 0;
  font-size: 1.1rem;
  padding: 12px 35px;
  display: inline-block;
  transform: skew(-21deg);
}

.btn :hover{
  background: #0069a8;
}

.btn > span{
  display: inline-block; 
  transform: skew(21deg);
}

.each {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */